<div id="results-section" hidden>

    <div id="result-display">
        <h3 class="text-center">How our population responded about sharing <%= @card.title.downcase  %> with <%= @recipient.role.downcase %>:</h3>
    </div>
    <canvas class="card-assignment-pie center-block" width="300" height="300">
    </canvas>

    <!-- output the data in divs here -->
    <% @colours = {info: '#3498db',
                   danger: '#e74c3c' }.to_a  %>
    <div>
        <h3 class="text-center">
            
            <% yes = (@survey.proportion_would_share(@card, @recipient)*100).round(2) %>
            <% data = [{ value: yes,
                        color: @colours[0][1]
                        },
                       { value: 100-yes,
                        color: @colours[1][1]
                        }]
            %>
            <span class="label label-<%= @colours[0][0] %>">Yes: <%= yes %>%</span>
            <span class="label label-<%= @colours[1][0] %>">No: <%= 100-yes %>%</span>

        </h3>
    </div>
    <%= content_tag :div, class: 'card-assignment-data', data: { proportions: data } do %>
    <% end %>
    <div class="text-center">
        <a href="<%= rapidfire_path %>" class="btn btn-default">Get another question!</a>
    </div>
    
</div>    

