<div>
  <h2>Questionnaire response</h2>
  <p>Gender: <%= @questionnaire_response.gender %></p>
  <p>Employment: <%= @questionnaire_response.employment_status %></p>
  <p>Age: <%= @questionnaire_response.age_range %></p>
  <p>App user?: <%= @questionnaire_response.app_user %></p>
  <p>Worked in healthcare?: <%= @questionnaire_response.worked_in_healthcare %></p>
  <p>Healthcare occupation: <%= @questionnaire_response.worked_in_healthcare_occupation %></p>
  <p>Feedback: <%= @questionnaire_response.open_feedback %></p>
</div>
