<div>
    <h2>Questionnaire response</h2>
    <table>
        <tr>
            <th>Question</th>
            <th>Response</th>
        </tr>
        <tr><td>Gender</td><td><%= @questionnaire_response.gender %></td></tr>

        <tr><td>Employment</td><td><%= @questionnaire_response.employment_status %></td></tr>

        <tr><td>Age</td><td><%= @questionnaire_response.age_range %></td></tr>
        <tr><td>App user?</td><td><%= @questionnaire_response.app_user %></td></tr>
        <tr><td>Worked in healthcare?</td><td><%= @questionnaire_response.worked_in_healthcare %></td></tr>
        <tr><td>Healthcare occupation</td><td><%= @questionnaire_response.worked_in_healthcare_occupation %></td></tr>
        <tr><td>Feedback</td><td><%= @questionnaire_response.open_feedback %></td></tr>
    </table>

</div>
