<div class="center-block">
  <%= image_tag "aberdeen.jpg", style: "height: 50px;"%>
  <%= image_tag "city.png", style: "height: 40px;"%>
  <%= image_tag "iiph.jpg", style: "height: 40px;"%>
  <%= image_tag "iitb.jpg", style: "height: 50px;"%>
  <%= image_tag "lancaster.jpeg", style: "height: 60px;"%>
  <%= image_tag "newcastle.jpg", style: "height: 40px;"%>
  <%= image_tag "northumbria.jpg", style: "height: 40px;"%>
</div>
<div class="center-block">
  <%= image_tag "de-sm.jpg", style: "height: 50px; width: auto; margin-bottom: 20px;" %>
  <%= image_tag "de-energy-sm.jpg", style: "height: 53px; width: auto; margin-bottom: 26px;" %>
</div>
