<h1>Health Information Privacy Survey</h1>

<p>This questionnaire is part of a large study (<a href="http://trump-india-uk.org">TRUMP</a>) funded by the <a href="http://www.rcuk.ac.uk/research/xrcprogrammes/Digital/Pages/home.aspx"</a>RCUK Digital Economy programme</a>. This study is a comparative study with India and is developing a support system for people living in rural areas who are suffering from chronic illnesses (such as diabetes, or depression) using mobile phone technology.</p>

<p>Part of the system requires the user to share information with a health care professional (e.g. their GP or practice nurse). We want to find out what type of information you are comfortable sharing, and who you would be willing to share it with, by completing our <strong>card sorting task</strong>. This is based on a <a href="#">paper version which has been previously used in the US</a>.</p>

<h3>How long will it take?</h3>
The tasks should take not longer than 15 minutes to complete.

<h3>What are the risks and benefits of taking part?</h3>
There are no risks involved in taking part. Your responses will help us to develop trustworthy personal health information systems.

<h3>What happens to the information I provide?</h3>
<p>Your responses are completely confidential and cannot be linked to you. The University of Aberdeen complies with the Data Protection Act (1998) and all information will be treated with the strictest confidence. At the end of the survey, we would like to collect some basic demographic data. However, you can skip this step if you would rather not give us this information.</p>


<h3>More information</h3>
<p>If you would like to contact a member of the team to ask a question or for more information, please click on the email button or phone us on the numbers below.</p>

<p>If you would like to continue, please click the button below to begin.</p>

<div class="form-group">
    <%= check_box_tag :consent, class: "checkbox" %>
    <%= label_tag :consent, 'I hereby consent to participate in the study.'%>
</div>

<%= link_to 'Begin survey', new_survey_response_path, id: "begin-button", class: "btn btn-primary disabled" %>

<hr>
<%= render "contact_details" %>

<%= render "logo_bar" %>
