<%= javascript_tag do %>
    var subsid = '<%= params[:subsid] %>';
    var screenout_link = '<%= AttitudeSurvey::Application.config.referrer_screenout_link %>';
    var quotafull_link = '<%= AttitudeSurvey::Application.config.referrer_quotafull_link %>';
<% end %>

<h1>Health Information Privacy Survey</h1>

<p>This questionnaire is part of a large study (<a href="http://trump-india-uk.org">TRUMP</a>) funded by the <a href="http://www.rcuk.ac.uk/research/xrcprogrammes/Digital/Pages/home.aspx"</a>RCUK Digital Economy programme</a>. This study is a comparative study with India and is developing a support system for people living in rural areas who are suffering from chronic illnesses (such as diabetes, or depression) using mobile phone technology.</p>

<p>Part of the system requires the user to share information with a health care professional (e.g. their GP or practice nurse). We want to find out what type of information you are comfortable sharing, and who you would be willing to share it with, by completing our <strong>card sorting task</strong>. This is based on a <a href="#">paper version which has been previously used in the US</a>.</p>

<h4>How long will it take?</h4>
The tasks should take not longer than 15 minutes to complete.

<h4>What are the risks and benefits of taking part?</h4>
There are no risks involved in taking part. Your responses will help us to develop trustworthy personal health information systems.

<h4>Can I withdraw at any time?</h4>
Yes - if you wish to withdraw at any time after beginning, simply navigate away from this website. Your data will not be stored unless you complete the whole survey.

<h4>What happens to the information I provide?</h4>
<p>Your responses are completely confidential and cannot be linked to you. The University of Aberdeen complies with the Data Protection Act (1998) and all information will be treated with the strictest confidence. At the end of the survey, we would like to collect some basic demographic data. However, you can skip this step if you would rather not give us this information.</p>

<% if params[:subsid] then %>
    <h4>Cookies</h4>
    <p>This survey will store a small piece of information (a "cookie") on your computer, which contains only your Research Now participant ID. It is not possible for us to learn anything about you using this information. For more information about cookies, please visit <a href="http://www.aboutcookies.org">www.aboutcookies.org</a>.</p>
<% end %>

<h4>Eligibility</h4>
You must be <strong>ordinarily resident</strong> in the UK in order to participate in this survey.
<% if params[:subsid] then %>
    If you are not resident in the UK, please <%= link_to 'click here to return to Research Now', AttitudeSurvey::Application.config.referrer_screenout_link %>
<% end %>

<h4>More information</h4>
<p>If you would like to contact a member of the team to ask a question or for more information, please click on the email button or phone us on the numbers below.</p>

<p>If you would like to continue, please click the button below to begin.</p>

<% if params[:subsid] %>
    <div class="form-group">
        <%= check_box_tag :cookies, class: "checkbox required-check" %>
        <%= label_tag :cookies, 'I consent to the storage of a temporary cookie on my computer.' %>
    </div>
<% end %>

<div class="form-group">
    <%= check_box_tag :resident, class: "checkbox required-check" %>
    <%= label_tag :resident, 'I hereby confirm that I am ordinarily resident in the UK.'%>
</div>

<div class="form-group">
    <%= check_box_tag :consent, class: "checkbox required-check" %>
    <%= label_tag :consent, 'I hereby consent to participate in the study.'%>
</div>


<%= link_to 'Begin survey', new_survey_response_path, id: "begin-button", class: "btn btn-primary disabled" %>
<%= if params[:subsid] then link_to 'Return to Research Now', AttitudeSurvey::Application.config.referrer_screenout_link, id: "screenout-button", class: "btn btn-primary" end %>


<hr>
<%= render "contact_details" %>

<%= render "logo_bar" %>
