<h1>Survey Results Summary</h1>

<% @colours = { default: '#95a5a6',
               primary: '#2c3e50',
               success: '#18bc9c',
               info: '#3498db',
               warning: '#f39c12',
               danger: '#e74c3c' }.to_a  %>

<h3>Survey: <%= @survey.title %><br>
    <small>Survey ID: <%= @survey.id %>, Run ID: <%=@survey_run.id %></small></h3>

<% datasets = [] %>
<% data = Array.new(6, 0) %>
<% categories = [ ->(t) { t < 2 },
                  ->(t) { t.between?(2,5) },
                  ->(t) { t.between?(5,10) },
                  ->(t) { t.between?(10,15) },
                  ->(t) { t.between?(15,20) },
                  ->(t) { t > 20 }
                 ] %>
<% completion_data = Array.new(2, 0) %>
<% sum = 0 %>

<% @survey_run.survey_responses.each do |resp| %>
    <% if resp.finish_time %>
        <% completion_data[1] += 1 %>
        <% diff= (resp.finish_time - resp.start_time) / 60 %>
        <% sum += diff %>
        <% categories.each_with_index do |cat, i| %>
            <% if cat.call(diff) then data[i] += 1 %>
            <% end %>
        <% end %>
    <% else %>
        <% completion_data[0] += 1 %>
    <% end %>
<% end %>

<% if completion_data[1] > 0 then avg_time = sum / completion_data[1] else avg_time = 0 end %>


<% datasets << { strokeColor: @colours[1][1],
                fillColor: @colours[1][1],
                pointColor: @colours[1][1],
                pointsStrokeColor: @colours[1][1],
                data: data } %>

<% timing_data = {
 datasets: datasets,
 labels: ["< 2 m", "2-5 m", "5-10m", "10-15 m", "15-20 m", "> 20 m"]
}
%>
<div class="wrap">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Response timings</div>
                <div class="panel-body">
                    <canvas id="response-timings-chart" width="400" height="200">
                    </canvas>
                    <%= content_tag :div, id: 'response-timings-data', data: { timings: timing_data } do %><% end %>
                </div>
                <div class="panel-footer">
                    Average time to complete: <%= avg_time.to_i + (((avg_time % 1) * 60) / 100).round(2) %>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Completed responses</div>
                <div class="panel-body">
                    <canvas id="response-completion-chart" width="200" height="200">
                     </canvas>
                     <% data = [] %>
                     <% completion_data.each_with_index do |d, i| %>
                         <% data << { value: d,
                                      color: @colours[i][1] } %>
                     <% end %>
                    <%= content_tag :div, id: 'response-completion-data', data: { completions: data } do %><% end %>
                </div>
                <div class="panel-footer">
                    <span class="label label-<%= @colours[0][0] %>">Open: <%= completion_data[0] %></span>
                    <span class="label label-<%= @colours[1][0] %>">Complete: <%= completion_data[1] %></span>
                    <span class="label label-<%= @colours[2][0] %>">Total: <%= completion_data[0] + completion_data[1] %></span>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Card sort phase</h2>

<div class="wrap">
    <div class="row">
        <% labels = [] %>
        <% @survey.sensitivity_categories.each do |cat| labels << cat.title %>
        <% end %>
        <% @survey.cards.each do |card| %>
            <!-- display canvas for graph -->
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><%= card.title %></div>
                    <div class="panel-body">
                        <canvas class="card-assignment-pie" width="200" height="200">
                        </canvas>
                    </div>
                    <div class="panel-footer">
                        <% if @survey_responses.empty? %>
                            <span class="label label-danger">No data</span>
                        <% else %>
                            <!-- output the data in divs here -->
                            <% data = [] %>
                            <% #data[:labels] = labels %>
                            <% @survey.sensitivity_categories.each_with_index do |category, i| %>
                                <% p = (@survey_run.proportion_card_assigned_to_category(card, category)*100).round(2) %>
                                <% data << { value: p,
                                            color: @colours[i][1]
                                            } %>
                                <span class="label label-<%= @colours[i][0] %>"><%= category.title %>: <%= p %>%</span>
                            <% end %>
                        <% end %>
                    </div>
                    <!-- collect the data into content tag -->
                    <%= content_tag :div, class: 'card-assignment-data', data: { proportions: data } do %><% end %>
                </div>
            </div>

        <% end %>
    </div>
</div>

<%= link_to 'Back', surveys_path, class: "btn btn-default" %>
