<h1>Survey Results Summary</h1>

<% @colours = { default: '#95a5a6',
               primary: '#2c3e50',
               success: '#18bc9c',
               info: '#3498db',
               warning: '#f39c12',
               danger: '#e74c3c' }.to_a  %>

<h3>Survey: <%= @survey.title %><br>
    <small>Survey ID: <%= @survey.id %>, Run ID: <%=@survey_run.id %></small></h3>


<h2>Card sort phase</h2>

<div class="wrap">
    <div class="row">
        <% labels = [] %>
        <% @survey.sensitivity_categories.each do |cat| labels << cat.title %>
        <% end %>
        <% @survey.cards.each do |card| %>
            <!-- display canvas for graph -->
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><%= card.title %></div>
                    <div class="panel-body">
                        <canvas class="card-assignment-pie" width="200" height="200">
                        </canvas>
                    </div>
                    <div class="panel-footer">
                        <% if @survey_responses.empty? %>
                            <span class="label label-danger">No data</span>
                        <% else %>
                            <!-- output the data in divs here -->
                            <% data = [] %>
                            <% #data[:labels] = labels %>
                            <% @survey.sensitivity_categories.each_with_index do |category, i| %>
                                <% p = (@survey_run.proportion_card_assigned_to_category(card, category)*100).round(2) %>
                                <% data << { value: p,
                                            color: @colours[i][1]
                                            } %>
                                <span class="label label-<%= @colours[i][0] %>"><%= category.title %>: <%= p %>%</span>
                            <% end %>
                        <% end %>
                    </div>
                    <!-- collect the data into content tag -->
                    <%= content_tag :div, class: 'card-assignment-data', data: { proportions: data } do %><% end %>
                </div>
            </div>

        <% end %>
    </div>
</div>

<%= link_to 'Back', surveys_path, class: "btn btn-default" %>
