<h1>Manage surveys</h1>
<p>Here you can create, delete or edit survey templates.</p>
<h3>Survey templates</h3>
<ul class="list-group">
    <% @surveys.each do |survey| %>
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <%= link_to survey.title, survey %>
                    </div>
                    <div class="col-md-4">
                        <span class="text-muted"><%= survey.description %></span>
                    </div>
                    <div class="col-md-3">
                        <%= link_to content_tag(:i, "" ,:class=>'glyphicon glyphicon-file'), survey_survey_runs_path(survey), method: :post %> &nbsp;&nbsp;
                        <%= link_to content_tag(:i, "" ,:class=>'glyphicon glyphicon-edit'), edit_survey_path(survey) %> &nbsp;&nbsp;
                        <%= link_to content_tag(:i, "" ,:class=>'glyphicon glyphicon-trash'), survey, method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp;&nbsp;
                        <%= link_to content_tag(:i, "" ,:class=>'glyphicon glyphicon-plus-sign'), surveys_path(id: survey.id), method: :post %> 
                    </div>
                </div>
            </div>
        </li>
    <% end %>
</ul>

<p>
    <%= link_to 'New Survey', new_survey_path, class: "btn btn-primary"%>
</p>


<h3>Survey instances</h3>
<% if @survey_runs.empty? then %>
    <p>No survey instances have been created.</p>
<% else %>
    <table class="table">
        <thead>
            <tr>
                <th>Template</th>
                <th>Created at</th>
                <th>Responses</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @survey_runs.each do |run| %>
                <tr <%= if(run.active?) then "class=active" end %>>
                    <td><%= run.survey.title %></td>
                    <td><%= run.created_at %></td>
                    <td><%= run.survey_responses.size %></td>
                    <td>
                        <%= if(run.active?) then "Active" else
                            link_to 'Activate', survey_survey_run_path(run.survey,run, active: true), method: :patch end %>
                    </td>
                    <td>
                        <%= link_to content_tag(:i, "", class: 'glyphicon glyphicon-dashboard'), survey_survey_run_path(run.survey, run) %>
                    </td>
                    <td>
                        <%= if(!run.active?) then link_to content_tag(:i, "" ,:class=>'glyphicon glyphicon-trash'), survey_survey_run_path(run.survey, run), method: :delete, confirm: 'Are you sure?' end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
