<%= include_gon %>
<div id="help-area">
    <h2>Sensitivity of your health information</h2>
    <p>Please drag the blue cards at the bottom left to arrange them according to sensitivity. For example, if you feel that <emph>Medication</emph> information is highly sensitive, you would drag the <emph>Medication</emph> card onto the <emph>highly sensitive</emph> area.</p>
</div>

<div id="help-area-2">
    <h2>Sharing your health information</h2>
    <p>Please click on the pieces of health information you would be happy to share with someone in the role shown at the bottom of the screen.</p>
</div>

<hr/>
<%= form_for @survey_response, remote: true do |s| %>

    <%
    cat_count = @survey.sensitivity_categories.count
    # integer division gives us the number of rows
    row_count = (cat_count/3)
    if cat_count%3 > 0
        then row_count = row_count + 1
    end
    col_count = 3 # hardcoding this - want 3 columns
    categories = @survey.sensitivity_categories.to_a.dup
    %>

    <div class="container-fixed" id="card-drop-area-container">
        <% row_count.times do %>
            <div class="row">
                <% col_count.times do |i| %>
                    <% unless categories.empty? %>
                        <% category = categories.shift %>
                        <div class="col-xs-4 card-drop-area-outer">
                          <div class="card-drop-area" id="category-<%= category[:id] %>">
                            <h1 class="card-drop-area-description"><%= category[:title] %></h1>
                            <p class="card-drop-area-description"><%= category[:description] %></p>
                          </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>

    <hr/>

    <div class="container">
        <div class="row">
            <div id="categories-control-area" class="col-md-8" id="card-info">
                <p>Please drag each card from the deck onto an area to reflect its sensitivity.</p>
            </div>
            <div class="col-xs-4 pull-right">
                <div id="card-deck" class="btn-group"></div>
                <% @survey.cards.each do |card| %>
                    <div class="card movable" id="card-<%= card.id %>" data-description="<%=card.description %>">
                        <%= card.title %>&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div id="recipients-control-area" class="container">
        <div class="row">
            <div class="col-md-5">
                <p>Please click on the items that you would be happy with sharing with:</p>
            </div>
            <div class="col-md-7">
                <div id="recipient-name-header"></div>
            </div>
        </div>
    </div>


    <%= s.fields_for :card_placements do |cp| %>
        <%= render "card_placement_fields", f: cp %>
    <% end %>

    <div id="submit-button-div">
        <%= s.submit "Next", class: "btn btn-primary", id: "submit-button" %>

      <p><button type="button" class="btn btn-primary" id="next-button">Next</button></p>
      <!-- Show this using JS to indicate moving to the next whole-page step -->

    </div>
    <% end %>

    <div class="progress progress-striped">
      <div id="progressbar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
      </div>
    </div>
