<h1>Survey Response <%= @survey_response.rnid %></h1>

<h2>Card-category assignment</h2>
<% @survey_response.card_placements.each do |placement| %>
    <p>Card <%= placement.card.title %> - category <%= placement.sensitivity_category.title %></p>
<% end %>

<h2>Sharing preferences</h2>
<% @survey_response.sharing_prefs.each do |pref| %>
  <p>Card <%= pref.card.title %> - <%=%> pref.recipient.role %></p>
<% end %>


<%= render @questionnaire_response %>
