<!DOCTYPE html>
<html>
    <head>
        <title>AttitudeSurvey</title>
        <%= twitter_bootstrap_stylesheet_link_tag :netdna %>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= twitter_bootstrap_javascript_include_tag :netdna %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="wrap">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <span class="navbar-brand">TRUMP Privacy Survey</span>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" id="help-link">Help</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                    <div class="collapse navbar-collapse">

                    </div><!--/.nav-collapse -->
                </div>
            </div>

            <div id="central-container" class="container">
                <%= yield %>
            </div>

        </div>


        <div id="footer">
            <div class="container">
                <p class="text-muted credit">Study conducted by the <a href="http://www.trump-india-uk.org.uk">TRUMP Project</a> at the <a href="http://www.abdn.ac.uk">University of Aberdeen</a>.</p>
            </div>
        </div>



    </body>
</html>
